<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">股票认购信息批量导入</h3>
    </div>
    <div class="panel-body">
      <span>没有模板？ <%= link_to "下载最新模板", "download" %>，请先<span class="green">粘贴</span>原有数据到模板<span class="red">认购sheet</span>中</span>
      <br />
      <br />

      <%= form_tag({:action => 'import_execl'}, { method: :post, multipart: true }) do |form| %>
        <%= file_field_tag 'file' %>
        <br />
        <br />
        <br />
        <%= submit_tag '导入' %>
      <% end %>
    </div>
  </div>
</div>